@{
    @using NHL.Models
    @model NHL.Models.Info
}
@{
    Standing[] atlantic = Model.standings.getDivisionTeams(1);
    Standing[] metro = Model.standings.getDivisionTeams(2);
    Standing[] pacific = Model.standings.getDivisionTeams(3);
    Standing[] central = Model.standings.getDivisionTeams(4);
    Standing[] eastern = Model.standings.getConferenceTeams(1, true);
    Standing[] western = Model.standings.getConferenceTeams(2, true);
}
<div class="text-center" style="padding-right: 10vw; padding-left: 10vw; overflow: auto;">
    <img src="~/icons/EasternConference.png" width="auto" height="" />
    <div>
        <div style="float: left">
            <h4>ATLANTIC DIVISION</h4>
            <table class="table table-striped table-dark" style="color: white;">
                <thead class="thead-dark">
                    <tr>
                        <th colspan="2">Team</th>
                        <th>Points</th>
                        <th>MP</th>
                        <th>ML</th>
                        <th>RW</th>
                        <th>RL</th>
                        <th>OW</th>
                        <th>OL</th>
                        <th>SW</th>
                        <th>SL</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Standing s in atlantic)
                    {
                        string aux = Model.teams.getTeamName(s.ID_Team).Replace(" ", "").Replace(".", "") + "_logo";
                        <tr>
                            @if (atlantic[0].ID_Team == s.ID_Team || atlantic[1].ID_Team == s.ID_Team || atlantic[2].ID_Team == s.ID_Team)
                            {
                                <td class="table-secondary"><span class="@aux"></span></td>
                                <td class="table-secondary" style="text-align: left">@Model.teams.getTeamName(s.ID_Team)</td>
                            }
                            else
                            {
                                <td><span class="@aux"></span></td>
                                <td style="text-align: left">@Model.teams.getTeamName(s.ID_Team)</td>
                            }
                            <td>@s.Points</td>
                            <td>@s.Matches_Played</td>
                            <td>@s.Matches_Left</td>
                            <td>@s.Regulation_Wins</td>
                            <td>@s.Regulation_Losses</td>
                            <td>@s.Overtime_Wins</td>
                            <td>@s.Overtime_Losses</td>
                            <td>@s.Shootout_Wins</td>
                            <td>@s.Shootout_Losses</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div style="float: right">
            <h4>METROPOLITAN DIVISION</h4>
            <table class="table table-striped table-dark" style="color: white;">
                <thead class="thead-dark">
                    <tr>
                        <th colspan="2">Team</th>
                        <th>Points</th>
                        <th>MP</th>
                        <th>ML</th>
                        <th>RW</th>
                        <th>RL</th>
                        <th>OW</th>
                        <th>OL</th>
                        <th>SW</th>
                        <th>SL</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Standing s in metro)
                    {
                        string aux = Model.teams.getTeamName(s.ID_Team).Replace(" ", "").Replace(".", "") + "_logo";
                        <tr>
                            @if (metro[0].ID_Team == s.ID_Team || metro[1].ID_Team == s.ID_Team || metro[2].ID_Team == s.ID_Team)
                            {
                                <td class="table-secondary"><span class="@aux"></span></td>
                                <td class="table-secondary" style="text-align: left">@Model.teams.getTeamName(s.ID_Team)</td>
                            }
                            else
                            {
                                <td><span class="@aux"></span></td>
                                <td style="text-align: left">@Model.teams.getTeamName(s.ID_Team)</td>
                            }
                            <td>@s.Points</td>
                            <td>@s.Matches_Played</td>
                            <td>@s.Matches_Left</td>
                            <td>@s.Regulation_Wins</td>
                            <td>@s.Regulation_Losses</td>
                            <td>@s.Overtime_Wins</td>
                            <td>@s.Overtime_Losses</td>
                            <td>@s.Shootout_Wins</td>
                            <td>@s.Shootout_Losses</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <h4>EASTERN WILDCARDS</h4>
        <table class="table table-striped table-dark" style="color: white;">
            <thead class="thead-dark">
                <tr>
                    <th colspan="2">Team</th>
                    <th>Points</th>
                    <th>MP</th>
                    <th>ML</th>
                    <th>RW</th>
                    <th>RL</th>
                    <th>OW</th>
                    <th>OL</th>
                    <th>SW</th>
                    <th>SL</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Standing s in eastern)
                {
                    string aux = Model.teams.getTeamName(s.ID_Team).Replace(" ", "").Replace(".", "") + "_logo";
                    <tr>
                        @if (eastern[0].ID_Team == s.ID_Team || eastern[1].ID_Team == s.ID_Team)
                        {
                            <td class="table-secondary"><span class="@aux"></span></td>
                            <td class="table-secondary" style="text-align: left">@Model.teams.getTeamName(s.ID_Team)</td>
                        }
                        else
                        {
                            <td><span class="@aux"></span></td>
                            <td style="text-align: left">@Model.teams.getTeamName(s.ID_Team)</td>
                        }
                        <td>@s.Points</td>
                        <td>@s.Matches_Played</td>
                        <td>@s.Matches_Left</td>
                        <td>@s.Regulation_Wins</td>
                        <td>@s.Regulation_Losses</td>
                        <td>@s.Overtime_Wins</td>
                        <td>@s.Overtime_Losses</td>
                        <td>@s.Shootout_Wins</td>
                        <td>@s.Shootout_Losses</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    </br>
    <img src="~/icons/WesternConference.png" width="auto" height="100" />
    <div>
        <div style="float: left">
            <h4>CENTRAL DIVISION</h4>
            <table class="table table-striped table-dark" style="color: white;">
                <thead class="thead-dark">
                    <tr>
                        <th colspan="2">Team</th>
                        <th>Points</th>
                        <th>MP</th>
                        <th>ML</th>
                        <th>RW</th>
                        <th>RL</th>
                        <th>OW</th>
                        <th>OL</th>
                        <th>SW</th>
                        <th>SL</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Standing s in central)
                    {
                        string aux = Model.teams.getTeamName(s.ID_Team).Replace(" ", "").Replace(".", "") + "_logo";
                        <tr>
                            @if (central[0].ID_Team == s.ID_Team || central[1].ID_Team == s.ID_Team || central[2].ID_Team == s.ID_Team)
                            {
                                <td class="table-secondary"><span class="@aux"></span></td>
                                <td class="table-secondary" style="text-align: left">@Model.teams.getTeamName(s.ID_Team)</td>
                            }
                            else
                            {
                                <td><span class="@aux"></span></td>
                                <td style="text-align: left">@Model.teams.getTeamName(s.ID_Team)</td>
                            }
                            <td>@s.Points</td>
                            <td>@s.Matches_Played</td>
                            <td>@s.Matches_Left</td>
                            <td>@s.Regulation_Wins</td>
                            <td>@s.Regulation_Losses</td>
                            <td>@s.Overtime_Wins</td>
                            <td>@s.Overtime_Losses</td>
                            <td>@s.Shootout_Wins</td>
                            <td>@s.Shootout_Losses</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div style="float: right">
            <h4>PACIFIC DIVISION</h4>
            <table class="table table-striped table-dark" style="color: white;">
                <thead class="thead-dark">
                    <tr>
                        <th colspan="2">Team</th>
                        <th>Points</th>
                        <th>MP</th>
                        <th>ML</th>
                        <th>RW</th>
                        <th>RL</th>
                        <th>OW</th>
                        <th>OL</th>
                        <th>SW</th>
                        <th>SL</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Standing s in pacific)
                    {
                        string aux = Model.teams.getTeamName(s.ID_Team).Replace(" ", "").Replace(".", "") + "_logo";
                        <tr>
                            @if (pacific[0].ID_Team == s.ID_Team || pacific[1].ID_Team == s.ID_Team || pacific[2].ID_Team == s.ID_Team)
                            {
                                <td class="table-secondary"><span class="@aux"></span></td>
                                <td class="table-secondary" style="text-align: left">@Model.teams.getTeamName(s.ID_Team)</td>
                            }
                            else
                            {
                                <td><span class="@aux"></span></td>
                                <td style="text-align: left">@Model.teams.getTeamName(s.ID_Team)</td>
                            }
                            <td>@s.Points</td>
                            <td>@s.Matches_Played</td>
                            <td>@s.Matches_Left</td>
                            <td>@s.Regulation_Wins</td>
                            <td>@s.Regulation_Losses</td>
                            <td>@s.Overtime_Wins</td>
                            <td>@s.Overtime_Losses</td>
                            <td>@s.Shootout_Wins</td>
                            <td>@s.Shootout_Losses</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <h4>WESTERN WILDCARDS</h4>
        <table class="table table-striped table-dark" style="color: white;">
            <thead class="thead-dark">
                <tr>
                    <th colspan="2">Team</th>
                    <th>Points</th>
                    <th>MP</th>
                    <th>ML</th>
                    <th>RW</th>
                    <th>RL</th>
                    <th>OW</th>
                    <th>OL</th>
                    <th>SW</th>
                    <th>SL</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Standing s in western)
                {
                    string aux = Model.teams.getTeamName(s.ID_Team).Replace(" ", "").Replace(".", "") + "_logo";
                    <tr>
                        @if (western[0].ID_Team == s.ID_Team || western[1].ID_Team == s.ID_Team)
                        {
                            <td class="table-secondary"><span class="@aux"></span></td>
                            <td class="table-secondary" style="text-align: left">@Model.teams.getTeamName(s.ID_Team)</td>
                        }
                        else
                        {
                            <td><span class="@aux"></span></td>
                            <td style="text-align: left">@Model.teams.getTeamName(s.ID_Team)</td>
                        }
                        <td>@s.Points</td>
                        <td>@s.Matches_Played</td>
                        <td>@s.Matches_Left</td>
                        <td>@s.Regulation_Wins</td>
                        <td>@s.Regulation_Losses</td>
                        <td>@s.Overtime_Wins</td>
                        <td>@s.Overtime_Losses</td>
                        <td>@s.Shootout_Wins</td>
                        <td>@s.Shootout_Losses</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
