@{
    @using NHL.Models
    @model NHL.Models.Info
}
@{
    Standing[] atlantic = Model.standings.standings.Where(s => s.Division == 1).ToArray();
    Standing[] metro = Model.standings.standings.Where(s => s.Division == 2).ToArray();
    Standing[] pacific = Model.standings.standings.Where(s => s.Division == 3).ToArray();
    Standing[] central = Model.standings.standings.Where(s => s.Division == 4).ToArray();
}
<div class="text-center">
    <h4>ATLANTIC DIVISION</h4>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Team</th>
                <th>Points</th>
                <th>MP</th>
                <th>ML</th>
                <th>RW</th>
                <th>RL</th>
                <th>OW</th>
                <th>OL</th>
                <th>SW</th>
                <th>SL</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Standing s in atlantic)
            {
                <tr>
                    <td>@Model.teams.getTeamName(s.ID_Team)</td>
                    <td>@s.Points</td>
                    <td>@s.Matches_Played</td>
                    <td>@s.Matches_Left</td>
                    <td>@s.Regulation_Wins</td>
                    <td>@s.Regulation_Losses</td>
                    <td>@s.Overtime_Wins</td>
                    <td>@s.Overtime_Losses</td>
                    <td>@s.Shootout_Wins</td>
                    <td>@s.Shootout_Losses</td>
                </tr>
            }
        </tbody>
    </table>
    <h4>METROPOLITAN DIVISION</h4>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Team</th>
                <th>Points</th>
                <th>MP</th>
                <th>ML</th>
                <th>RW</th>
                <th>RL</th>
                <th>OW</th>
                <th>OL</th>
                <th>SW</th>
                <th>SL</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Standing s in metro)
            {
                <tr>
                    <td>@Model.teams.getTeamName(s.ID_Team)</td>
                    <td>@s.Points</td>
                    <td>@s.Matches_Played</td>
                    <td>@s.Matches_Left</td>
                    <td>@s.Regulation_Wins</td>
                    <td>@s.Regulation_Losses</td>
                    <td>@s.Overtime_Wins</td>
                    <td>@s.Overtime_Losses</td>
                    <td>@s.Shootout_Wins</td>
                    <td>@s.Shootout_Losses</td>
                </tr>
            }
        </tbody>
    </table>
    <h4>CENTRAL DIVISION</h4>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Team</th>
                <th>Points</th>
                <th>MP</th>
                <th>ML</th>
                <th>RW</th>
                <th>RL</th>
                <th>OW</th>
                <th>OL</th>
                <th>SW</th>
                <th>SL</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Standing s in central)
            {
                <tr>
                    <td>@Model.teams.getTeamName(s.ID_Team)</td>
                    <td>@s.Points</td>
                    <td>@s.Matches_Played</td>
                    <td>@s.Matches_Left</td>
                    <td>@s.Regulation_Wins</td>
                    <td>@s.Regulation_Losses</td>
                    <td>@s.Overtime_Wins</td>
                    <td>@s.Overtime_Losses</td>
                    <td>@s.Shootout_Wins</td>
                    <td>@s.Shootout_Losses</td>
                </tr>
            }
        </tbody>
    </table>
    <h4>PACIFIC DIVISION</h4>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Team</th>
                <th>Points</th>
                <th>MP</th>
                <th>ML</th>
                <th>RW</th>
                <th>RL</th>
                <th>OW</th>
                <th>OL</th>
                <th>SW</th>
                <th>SL</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Standing s in pacific)
            {
                <tr>
                    <td>@Model.teams.getTeamName(s.ID_Team)</td>
                    <td>@s.Points</td>
                    <td>@s.Matches_Played</td>
                    <td>@s.Matches_Left</td>
                    <td>@s.Regulation_Wins</td>
                    <td>@s.Regulation_Losses</td>
                    <td>@s.Overtime_Wins</td>
                    <td>@s.Overtime_Losses</td>
                    <td>@s.Shootout_Wins</td>
                    <td>@s.Shootout_Losses</td>
                </tr>
            }
        </tbody>
    </table>
</div>
